body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    font-family: 'Press Start 2P', cursive;
}

/* Stage 1 */

.designScreen1 {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/nebula.jpg");
    background-position: center;
}

.designScreen2 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}