body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    font-family: 'Press Start 2P', cursive;
    cursor: crosshair;
}

/* Stage 1 */

.designScreen1 {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/nebula.jpg");
    background-position: center;
}

.designScreen1Container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    all: unset;
    background: black;
    color: white;
    font-family:'Press Start 2P', cursive;
    font-size: large; 
    padding: 1em;
    border-radius: 1em;
    transition: 0.5s; 
}

.startButton{
    all: unset;
    background: red;
    color: white;
    font-family:'Press Start 2P', cursive;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.2em solid red;
    transition: 0.5s;
}

.startButton:hover{
    cursor:crosshair;
    transform: scale(1.25);
    transition: 0.25s;
}

/* Stage 2 */

.designScreen2 {
    background-color: red;
    height: 100vh;
    width: 100vw;
}

.designScreen2Container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.centerDesignScreen2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: blue;
    width: 80%;
}



.fighters{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: green;
}

.chooseHero{
    background: none;
    width:10em;
    height: 15em;
    border-radius: 1em;
    margin-top: 2em;
    background: purple;
}

.chooseHero:hover{
    background-color: grey;
    transform: scale(1.25);
    transition: 0.25s;
}

.player1, .player2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    font-family: 'Press Start 2P', cursive;
    background: pink;   
}

.playerName{
    font-family: 'Press Start 2P', cursive;
    color: black;
}




.screen2button{
    all: unset;
    background: red;
    color: white;
    font-family:'Press Start 2P', cursive;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.2em solid red;
    transition: 0.5s;
    margin-top: 2em;
}

.screen2button:hover{
    cursor:crosshair;
    transform: scale(1.25);
    transition: 0.25s;
}

/* Stage 3 */

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;
}

/* Stage 4 */

.designScreen4 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}