body{
    margin: 0em;
    padding: 0em;
    overflow: auto;
    font-family: 'Press Start 2P', cursive;
    cursor: crosshair;
}




/* PANTALLA 1*/

.firstScreen {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/city.gif");
    background-position: center;
}

.firstScreenContainer {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.title{
    all: unset;
    justify-items: center;
    align-items: center;
    background: #00000026;
    color: white;
    font-family:'Press Start 2P', cursive;
    font-size: large; 
    padding: 1em;
    border-radius: 1em;
    transition: 0.5s; 
    margin-top: -7em;
    margin-left: 1em;
}

.title:hover{
    transform: scale(1.05);
}



.startButton{
    all: unset;
    background: red;
    color: white;
    font-family:'Press Start 2P', cursive;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.2em solid red;
    transition: 0.5s;
    margin-top: 5em;
}

.startButton:hover{
    cursor:crosshair;
    transform: scale(1.25);
    transition: 0.25s;
}

/* PATALLA 2 */

.secondScreen {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/skyscrapers.gif");
    background-size: cover;

}

.secondScreenContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centerSecondScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fighters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picFighter{
    background: black;
    width: 7em;
    padding: .5em;
    height: 10em;
    border-radius: 4em;
    margin: .1em;
    transition: 0.5s;
}

.picFighter:hover{
    background: grey;
    transform: scale(1.25);
    transition: 1.15s;
    cursor: pointer;
}

.fighterOne, .fighterTwo{
    width: 25%;
    margin-top: 4em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fighterName {
    font-family: 'Press Start 2P', cursive;
    cursor: crosshair;
    color: white;
    background: red;
    font-size: xx-large;
}

#imgFighterSelected1, #imgFighterSelected2{
    height: 40em;
    width: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFighter1, .imgFighter2{
    height: 30em;
}

.fighterSelected1{
    
    background: none;
    width: 7em;
    padding: .5em;
    height: 10em;
    border-radius: 1em;
    margin: 1em;
    transition: 0.5s;
    background: whitesmoke;
    
}

.fighterSelected2{
   
    
    width: 7em;
    padding: .5em;
    height: 10em;
    border-radius: 1em;
    margin: 1em;
    transition: 0.5s;
    background: whitesmoke;
    
}


.playButton {
    all: unset;
    background: red;
    color: white;
    font-family:'Press Start 2P', cursive;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.2em solid red;
    transition: 0.5s;
}

.playButton:hover{
    cursor:crosshair;
    transform: scale(1.25);
    transition: 0.25s;
}

/* PANTALLA 3 */

.thirdScreen {
    height: 100vh;
    width: 100vw;
    

    background-image: url("../img/loop1.gif");
    background-position: center;
    background-size: cover;
}

.thirdScreenContainer{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.centralDiv{
    height: 50em;
    width: 20em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}


.vs {
    font-family: 'Press Start 2P', cursive;;
    color: white;
    background: rgba(255, 0, 0, 0.561);
    font-size: 6em;
    margin: 0;
}
 
#infoFight {
    height: 8em;
    width: 13em;
    background: red;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: .5em;
    border-radius: 1em;
    font-size: x-large; 
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.attackButton {
    all: unset;
    margin-top: 2em;
    background: rgba(255, 0, 0, 0.561);;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: .5em;
    border-radius: 1em;
    font-size: xx-large;
    transition: 0.5s;
}

.attackButton:hover {
    cursor: pointer;
    background-color: red;
    transform: scale(1.05);
    transition: 0.5s;
}

.lifeBar{
    display: flex;
    height: 2em;    
    border-radius: .5em;
    width: 30em;
    background-color: blue;
}

#lifeBar1, #lifeBar2 {
    display: flex;
    position: relative;

    background: red;
    height: 2em;
    width: 30em;
    transition: width 0.6s;
}

.picFighter1, .picFighter2 {
    height: 40em;
    width: 20em;
    margin-top: -4.5em;
    margin-bottom: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PANTALLA 4 */

.fourthScreen {
    height: 100vh;
    width: 100vw;

    background-image: url("../img/man.gif");
    background-position: center;
    background-size: cover;
}

.fourthScreenContainer{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.winnerPic {
    height: 40em;
    width: 20em;
}

.winnerButton {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.winnerText {
    font-family: 'Press Start 2P', cursive;;
    color: white;
    background: rgba(0, 0, 0, 0.281);
    font-size: 3em;
    text-align: center;
    margin-right: 2.3em;
    border-radius: 2em;
}

.winnerText:hover{
    background-color: black;
    transition: 0.5s;
}

.resetButton {
    all: unset;
    background: rgba(255, 0, 0, 0.561);
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: .5em;
    border-radius: 1em;
    font-size: xx-large;
    transition: 0.5s;
}

.resetButton:hover{
    cursor: crosshair;
    background-color: red;
    transform: scale(1.05);
    transition: 0.5s;
}